<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <contextName>srb</contextName>
    <!--日志输出目录 -->
    <property name="log_path" value="E:/log/srbLog/oss"/>
    <!--控制台日志输出格式:彩色日志-->

    <property name="CONSOLE_LOG-PATTERN"
              value="%yellow(%date{yyyy-MM-DD HH:mm:ss}) %highlight([%-5level]) %green(%logger) %msg%n"/>
    <!--文件日志格式-->
    <property name="FILE_LOG_PATTERN"
              value="%date{yyyy-MM-DD HH:mm:ss} [%-5level] %thread %file:%line %logger %msg%n"/>
    <!--编码-->
    <property name="ENCODING" value="UTF-8"/>

    <!--控制台日志-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG-PATTERN}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>
    <!--文件日志
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log_path}/log.log</file>
        <append>true</append>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>-->

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/log.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/history/log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1KB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>

    <!--日志记录器
    <logger name="com.wp" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>-->
    <!--开发环境与测试环境日志记录器-->
    <springProfile name="dev,test">
        <logger name="com.wp" level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ROLLING_FILE"/>
        </logger>
    </springProfile>
    <!--生产环境日志记录器-->
    <springProfile name="prod">
        <logger name="com.wp" level="ERROR">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ROLLING_FILE"/>
        </logger>
    </springProfile>
</configuration>